.links a {
   font-style: normal;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 26px;
    -webkit-font-feature-settings: 'liga' off;
    font-feature-settings: 'liga' off;
    color: #262A4E, 100%  !important;
    margin-bottom: 12px;
}
.contact , .address{
    
font-style: normal;
font-weight: 600 !important;
font-size: 16px;
line-height: 150%;
color:#676767 !important
}
.address{
    margin-top:0 !important
}
.copyright{
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #262A4E;
}
.line{
    border-bottom: 1px solid #ebebeb !important;
}
.extra_mw{
    padding-top:20px !important;
    padding-bottom:20px !important;
}
.extra_mw .m_title{
    margin :0 !important;
    padding:0 !important;
}
.public_offer{
font-weight: normal !important;
font-size: 14px !important;
line-height: 140% !important;
 margin-bottom: 20px;
}
.content_container{
    padding: 20px 15px !important;
    color:#262A4E;
        margin: 0 auto;
        width: 100%;
    max-width: 1140px;
}
.content_container .content{
    margin-bottom: 20px;
}
.content_container .content p  {
     font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}
.content_container .content p a {
    color: #5477A9
}
.contents{
    margin-top:50px;
    
}
.contents h3 , .terms h3{
    text-align: center;
    margin-bottom: 50px;
}

.terms_container p{
   font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 140%;
color: #5477A9;
}
.terms{
    margin-top:50px;
}
.terms .content p{
     font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 140%;
}
.bold{
    font-weight: 700 !important;
}
.requests{
    width:60%; 
}
.requests .title{
    
    font-weight: bold !important;
}
.requests p {
    font-size: 12px !important;

}
.requests p a , .link {
    color: #5477A9
}
.mb-1{
    margin-bottom: 40px !important;
}
.mt-1{
    margin-top:40px !important
}
.adress_container{
    display:flex;
    justify-content: space-between;
}
.hidden{
opacity: 0 !important;
}
.page .header .mw .left_side .logo img{
    width:auto !important
}
#consent-popup{
    border: 0.5px solid #5477a944;
    position:fixed;
    bottom: 0;
    left:0;
    right:0;
   opacity: 1;
    height:100px;
    padding: 20px 150px;
    display: flex;
    width:100vw;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: opacity 0.8s ease;
}

#consent-popup p{
color: #262A4E;
font-weight: 500;
font-size: 12px;
line-height: 15px;
}
#consent-popup p a{
    color:#5477A9
}
 
@media (min-width: 768px) and (max-width: 991px) {
    .page .contacts .mw .cont_line .left_side a, .page .contacts .mw .cont_line .address p{
        font-size: 14px !important;
    }
  
}
@media (max-width: 765px) {
    .responsive_picture{

 max-width: 80%; 
display:block; 
height: auto;

}
    .page .main:after{
        width: 100%;
    }
    .page .main .mw .main_cont{
        display: flex  !important;
        flex-direction: column !important;
    }
    .page .main .mw .main_cont .left_side{
        order:2;
        width:100%
    }
    .page .main .mw .main_cont .right_side{
        width: 100%;
    }
    .page .main .mw .main_cont .right_side .img img {
        margin-left: 138px;
    }
    .page .main .mw .main_cont .right_side .img{
        height:auto
    }
    
}
@media (max-width: 575px) {
   
    .page .contacts .mw .cont_line .left_side a, .page .contacts .mw .cont_line .address p{
        font-size: 13px !important;
    }
    .cont_line{
        text-align:center;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        
    }
    .cont_line .left_side , .cont_line .address{
        margin-top:20px !important
    }
 }
 @media (min-width:575px ) and (max-width: 768px) {
      
    .cont_line{
        text-align:center;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        
    }
    .cont_line .left_side , .cont_line .address{
        margin-top:20px !important
    }
 }