@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Manrope", sans-serif !important;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
  font-feature-settings: 'pnum' on, 'lnum' on; }

h1, h2, h3, h4, h5, h6, p, ul, hr {
  margin: 0;
  padding: 0; }

.card {
  border: none; }

a, input, button {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, input:hover, button:hover {
    outline: none;
    text-decoration: none; }

input[type=submit], button {
  border: none;
  cursor: pointer; }

.mw {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative; }

.fancybox-slide:before {
  margin: 0; }

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5477A9;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none;
  z-index: 98;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5); }
  .scrollup img {
    width: 20px; }
  .scrollup:hover {
    opacity: 0.9; }
  .scrollup .fas_icon {
    font-size: 20px;
    color: #fff; }
  .scrollup.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.modal {
  display: none;
  position: fixed;
  z-index: 99999999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  max-width: 400px;
  padding: 0 !important; }
  .modal::-webkit-scrollbar {
    width: 0; }
  .modal .m-content {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    position: relative; }
    .modal .m-content .c {
      background-color: #fff;
      width: 100%;
      padding: 40px; }
      .modal .m-content .c h3 {
        text-align: center;
        padding-bottom: 30px;
        font-size: 22px;
        color: #222; }
      .modal .m-content .c .success_h3 {
        font-size: 30px;
        color: #18ba60; }
      .modal .m-content .c h6 {
        padding: 20px 10px;
        text-align: center;
        font-size: 24px;
        color: #2a2a2a;
        font-weight: 400; }
      .modal .m-content .c form {
        width: 100%;
        max-width: 500px; }
        .modal .m-content .c form label {
          color: #5477A9;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 10px;
          display: block; }
        .modal .m-content .c form input, .modal .m-content .c form select, .modal .m-content .c form textarea {
          width: 100%;
          border: 1px solid #e6e6e6;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          padding: 15px;
          color: #222;
          font-size: 14px; }
        .modal .m-content .c form textarea {
          min-height: 100px;
          resize: none; }
        .modal .m-content .c form .inp_line {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: space-between;
          -webkit-justify-content: space-between;
          -ms-flex-pack: space-between;
          justify-content: space-between;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          .modal .m-content .c form .inp_line .inp_address {
            width: 50%; }
          .modal .m-content .c form .inp_line .inp_home, .modal .m-content .c form .inp_line .inp_home_num {
            width: 20%; }
        .modal .m-content .c form .policy {
          color: #222;
          font-size: 16px;
          line-height: 20px;
          width: 100%;
          display: block; }
          .modal .m-content .c form .policy a {
            color: #5477A9; }
            .modal .m-content .c form .policy a:hover {
              color: #fff; }
          .modal .m-content .c form .policy input {
            margin-right: 10px; }
      .modal .m-content .c small {
        color: #676767;
        font-size: 10px;
        font-weight: 300; }
        .modal .m-content .c small a {
          color: #676767;
          text-decoration: underline; }
          .modal .m-content .c small a:hover {
            color: #18ba60; }

@media (max-width: 575px) {
  .scrollup {
    right: 10px;
    bottom: 50px; }
  .modal .m-content .c h3 {
    padding: 30px 0;
    padding-top: 50px;
    font-size: 22px; } }

iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-style: none; }

.btn_b {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 170px; }
  .btn_b .btn_m {
    background-color: #5477A9;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
    overflow: hidden;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-feature-settings: 'liga' off;
    font-feature-settings: 'liga' off;
    color: #FCFCFC;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
    .btn_b .btn_m:hover {
      background-color: #3C5E8F; }

.page {
  
  overflow-x: hidden; }
  .page .header {
    z-index: 99;
    width: 100%;
    background-color: #fff; }
    .page .header .mw {
      padding: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      z-index: 2; }
      .page .header .mw .left_side .logo {
        width: 92px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .page .header .mw .left_side .logo img {
          width: 100%; }
      .page .header .mw .right_side {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: flex-end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .page .header .mw .right_side .nav {
          margin-right: 112px; }
          .page .header .mw .right_side .nav ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: flex-end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
            justify-content: flex-end;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center; }
            .page .header .mw .right_side .nav ul li a {
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 20px;
              -webkit-font-feature-settings: 'liga' off;
              font-feature-settings: 'liga' off;
              color: #18191F;
              white-space: nowrap; }
              .page .header .mw .right_side .nav ul li a:hover {
                color: #5477A9; }
  .page .main {
    background: url("../images/main_bg.jpg") no-repeat center center/cover;
    position: relative; }
    .page .main:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      background: -o-linear-gradient(255.99deg, #D9E8EF 9.6%, #EAF2F5 89.64%);
      background: linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%); }
    .page .main .mw {
      padding: 20px 15px;
      z-index: 2; }
      .page .main .mw .main_cont {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .page .main .mw .main_cont .left_side {
          width: 60%; }
          .page .main .mw .main_cont .left_side p {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            -webkit-font-feature-settings: 'liga' off;
            font-feature-settings: 'liga' off;
            color: #2C2A5A;
            margin-bottom: 30px; }
          .page .main .mw .main_cont .left_side .line {
            margin-top: 120px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            -webkit-box-align: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start; }
            .page .main .mw .main_cont .left_side .line .link {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: flex-start;
              -webkit-justify-content: flex-start;
              -ms-flex-pack: flex-start;
              justify-content: flex-start;
              -webkit-box-align: flex-start;
              -webkit-align-items: flex-start;
              -ms-flex-align: flex-start;
              align-items: flex-start;
              margin-right: 54px; }
              .page .main .mw .main_cont .left_side .line .link .h5 {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 32px;
                -webkit-font-feature-settings: 'liga' off;
                font-feature-settings: 'liga' off;
                color: #2C2A5A;
                margin-bottom: 25px; }
              .page .main .mw .main_cont .left_side .line .link a {
                height: 40px;
                margin-bottom: 15px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center; }
                .page .main .mw .main_cont .left_side .line .link a img {
                  height: 100%; }
        .page .main .mw .main_cont .right_side {
          width: 40%; }
          .page .main .mw .main_cont .right_side .img {
            height: 700px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-left: -100px; }
            .page .main .mw .main_cont .right_side .img img {
              height: 100%; }
  .page .benefits .mw {
    padding: 150px 15px 30px;
    max-width: 1435px; }
    .page .benefits .mw .m_title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 130px; }
      .page .benefits .mw .m_title p {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #2370C8;
        padding-bottom: 15px; }
      .page .benefits .mw .m_title .h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #262A4E; }
    .page .benefits .mw .cont ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .page .benefits .mw .cont ul li {
        max-width: 250px;
        margin: 0 50px 155px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .page .benefits .mw .cont ul li .img {
          height: 115px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 40px; }
          .page .benefits .mw .cont ul li .img img {
            height: 100%; }
        .page .benefits .mw .cont ul li .h5 {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          color: #262A4E; }
        .page .benefits .mw .cont ul li p {
          color: #4d4d4d;
          font-size: 16px;
          text-align: center; }
  .page .contacts {
    background: #DCEAF0; }
    .page .contacts .mw {
      padding: 45px 15px 50px; }
      .page .contacts .mw .cont_line {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        -webkit-box-align: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start; }
        .page .contacts .mw .cont_line .left_side .logo {
          width: 92px;
          margin-bottom: 30px; }
          .page .contacts .mw .cont_line .left_side .logo img {
            width: 100%; }
        .page .contacts .mw .cont_line .left_side .h5 {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 26px;
          -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
          color: #333333;
          margin-bottom: 12px; }
        .page .contacts .mw .cont_line .left_side a {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 25px;
          -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
          color: #262A4E;
          display: block;
          margin-bottom: 14px; }
        .page .contacts .mw .cont_line .address {
          max-width: 250px;
          margin-top: 20px; }
          .page .contacts .mw .cont_line .address .h5 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            -webkit-font-feature-settings: 'liga' off;
            font-feature-settings: 'liga' off;
            color: #333333;
            margin-bottom: 15px; }
          .page .contacts .mw .cont_line .address p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            -webkit-font-feature-settings: 'liga' off;
            font-feature-settings: 'liga' off;
            color: #262A4E; }
        .page .contacts .mw .cont_line .right_side {
          margin-top: 20px; }
          .page .contacts .mw .cont_line .right_side p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            -webkit-font-feature-settings: 'liga' off;
            font-feature-settings: 'liga' off;
            color: #262A4E; }
      .page .contacts .mw .soc_icons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px; }
        .page .contacts .mw .soc_icons .h5 {
          color: #fff;
          font-size: 24px;
          text-align: center;
          padding-bottom: 20px; }
        .page .contacts .mw .soc_icons ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          .page .contacts .mw .soc_icons ul li a {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 40px;
            height: 40px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: #5477A9;
            color: #fff;
            margin: 10px; }
            .page .contacts .mw .soc_icons ul li a:hover {
              background-color: #fff;
              color: #5477A9; }
  .page .footer {
    background-color: #4d4d4d;
    padding: 2vh; }
    .page .footer .mw p {
      text-align: center;
      color: #fff; }

@media (max-width: 575px) {
  .btn_b .btn_more {
    padding: 15px; }
  .page .header .mw .left_side .logo a {
    height: 60px; }
  .page .header .mw .right_side .nav {
    display: none; }
  .page .header .mw .right_side .o_xs_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .page .sticky .mw .left_side .logo a {
    height: 40px; }
  .page .xs_menu {
    display: block; }
  .page .main .mw .main_cont .h1 {
    font-size: 40px;
    padding-bottom: 20px; }
  .page .main .mw .main_cont .h2 {
    font-size: 20px;
    padding-bottom: 30px; }
  .page .about .mw .cont .left_side {
    width: 100%;
    margin-top: 15px; }
  .page .about .mw .cont .right_side {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
    .page .about .mw .cont .right_side .m_title .h3 {
      text-align: left; }
    .page .about .mw .cont .right_side .h5 {
      font-size: 16px; }
    .page .about .mw .cont .right_side ul li {
      font-size: 16px; }
      .page .about .mw .cont .right_side ul li .fas_icon {
        font-size: 18px;
        margin-top: 0; }
  .page .m_title .h3 {
    font-size: 28px;
    text-align: center; }
    .page .m_title .h3:after {
      height: 6px; }
  .page .choose_product .mw .cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .page .choose_product .mw .cont .left_side {
      width: 100%; }
      .page .choose_product .mw .cont .left_side .h2 {
        font-size: 30px;
        text-align: center; }
    .page .choose_product .mw .cont .right_side {
      width: 100%;
      margin-top: 15px; }
      .page .choose_product .mw .cont .right_side .btn_b {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
  .page .benefits .mw .m_title .h3, .page .benefits .mw .m_title .h5 {
    text-align: center; }
  .page .products .cont ul li {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }
    .page .products .cont ul li a .img {
      height: 200px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start; }
  .page .map {
    height: 100%;
    position: relative; }
    .page .map .points_info {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      max-width: 400px;
      margin: 0 auto; }
  .page .contacts .mw .cont_line ul li {
    margin-bottom: 20px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .page .header .mw .left_side .logo a {
    height: 60px; }
  .page .header .mw .right_side .nav {
    display: none; }
  .page .header .mw .right_side .o_xs_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .page .sticky .mw .left_side .logo a {
    height: 40px; }
  .page .xs_menu {
    display: block; }
  .page .main .mw .main_cont .h1 {
    font-size: 45px;
    padding-bottom: 20px; }
  .page .main .mw .main_cont .h2 {
    font-size: 22px;
    padding-bottom: 30px; }
  .page .about .mw .cont .left_side {
    width: 100%;
    margin-top: 15px; }
  .page .about .mw .cont .right_side {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
    .page .about .mw .cont .right_side .m_title .h3 {
      text-align: left; }
    .page .about .mw .cont .right_side .h5 {
      font-size: 16px; }
    .page .about .mw .cont .right_side ul li {
      font-size: 16px; }
      .page .about .mw .cont .right_side ul li .fas_icon {
        font-size: 18px;
        margin-top: 0; }
  .page .m_title .h3 {
    text-align: center; }
    .page .m_title .h3:after {
      height: 6px; }
  .page .choose_product .mw .cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .page .choose_product .mw .cont .left_side {
      width: 100%; }
      .page .choose_product .mw .cont .left_side .h2 {
        font-size: 30px;
        text-align: center; }
    .page .choose_product .mw .cont .right_side {
      width: 100%;
      margin-top: 15px; }
      .page .choose_product .mw .cont .right_side .btn_b {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
  .page .benefits .mw .m_title .h3, .page .benefits .mw .m_title .h5 {
    text-align: center; }
  .page .products .cont ul li {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }
    .page .products .cont ul li a .img {
      height: 200px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start; }
  .page .map {
    height: 100%;
    position: relative; }
    .page .map .points_info {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      max-width: 400px;
      margin: 0 auto; }
  .page .contacts .mw .cont_line ul li {
    margin-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page .header .mw .left_side .logo a {
    height: 60px; }
  .page .header .mw .right_side .nav {
    display: none; }
  .page .header .mw .right_side .o_xs_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .page .sticky .mw .left_side .logo a {
    height: 40px; }
  .page .xs_menu {
    display: block; }
  .page .main .mw .main_cont .h1 {
    font-size: 45px;
    padding-bottom: 20px; }
  .page .main .mw .main_cont .h2 {
    font-size: 22px;
    padding-bottom: 30px; }
  .page .about .mw .right_side .m_title .h3 {
    text-align: left; }
  .page .about .mw .right_side .h5 {
    font-size: 16px; }
  .page .about .mw .right_side ul li {
    font-size: 16px; }
    .page .about .mw .right_side ul li .fas_icon {
      font-size: 18px;
      margin-top: 0; }
  .page .m_title .h3 {
    text-align: center; }
    .page .m_title .h3:after {
      height: 6px; }
  .page .choose_product .mw .cont .left_side .h2 {
    font-size: 30px; }
  .page .benefits .mw .m_title .h3, .page .benefits .mw .m_title .h5 {
    text-align: center; }
  .page .products .cont ul li {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }
    .page .products .cont ul li a .img {
      height: 200px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start; }
  .page .contacts .mw .cont_line ul li {
    margin-bottom: 20px; } }
